<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Weather-App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/img/weather.png" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />

</head>

<body>
    <div class="app">
        {{>header}}
        <div class="container">

            <div class="display__about">
                <div class="display__image">
                    <img src="/img/derk-wessels-1404679-unsplash.jpg">
                </div>
                <div>
                    <a href="https://github.com/FlavienGr">
                        <img src="/img/icons8-github.svg" class="svgGit">
                    </a>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
</body>

</html>